.promo-credits-club{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:#ec163a;padding:.5rem 0 1.05rem 0;position:relative}@media only screen and (min-width:35.5em){.promo-credits-club{padding:1rem}}@media only screen and (min-width:48em){.promo-credits-club{padding:.5rem 0 1.05rem 0}}@media only screen and (min-width:64em){.promo-credits-club{min-height:250px;padding:0 1rem}}@media only screen and (min-width:80em){.promo-credits-club{min-height:260px;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;overflow:visible;padding:1rem 1.5rem}}@media only screen and (min-width:1520px){.promo-credits-club{min-height:270px;padding:1rem 2.5rem}}.promo-credits-club:before{display:none}@media only screen and (min-width:80em){.promo-credits-club:before{display:block;content:'';position:absolute;top:-7px;left:10px;background:url(https://bp.pstatic.gr/public/dist/cfb9f0858cd3e543a761.svg) no-repeat center center;width:480px;height:290px}}@media only screen and (min-width:1520px){.promo-credits-club:before{top:-15px;left:60px;width:500px;height:300px}}@media only screen and (min-width:120em){.promo-credits-club:before{left:100px}}.promo-credits-club__info{display:grid;grid-template-columns:1fr;grid-template-columns:auto-columns;justify-items:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;align-self:center;gap:.5rem}@media only screen and (min-width:35.5em){.promo-credits-club__info{grid-template-columns:1fr auto}}@media only screen and (min-width:48em){.promo-credits-club__info{grid-template-columns:1fr;gap:1rem}}@media only screen and (min-width:64em){.promo-credits-club__info{gap:0;grid-template-columns:1fr auto}}.promo-credits-club__illustration{width:295px;height:170px}@media only screen and (min-width:35.5em){.promo-credits-club__illustration{width:370px;height:223px}}@media only screen and (min-width:48em){.promo-credits-club__illustration{width:295px;height:170px}}@media only screen and (min-width:64em){.promo-credits-club__illustration{width:calc(45% + 15vw);height:calc(100% + 5vw)}}@media only screen and (min-width:80em){.promo-credits-club__illustration{display:none}}.promo-credits-club__cta{color:#000;background:#fff;padding:.5rem 1rem;font-size:1rem;font-weight:700;text-align:center;border-radius:24px;transition:box-shadow .2s ease-in-out;text-decoration:none}.promo-credits-club__cta:hover{box-shadow:0 4px 4px 0 rgba(0,0,0,.25)}@media only screen and (min-width:35.5em){.promo-credits-club__cta{justify-self:left}}@media only screen and (min-width:48em){.promo-credits-club__cta{justify-self:center;padding:.8rem 1rem}}@media only screen and (min-width:80em){.promo-credits-club__cta{padding:.9rem 1.25rem}}
.promo__garden-furniture-v2{display:grid;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:url(https://bp.pstatic.gr/public/dist/86b54a9d50be403f4323.png);background-position:center!important;background-repeat:no-repeat!important;background-size:cover;position:relative;padding:0 1.25rem}.supports-webp .promo__garden-furniture-v2{background-image:url(https://bp.pstatic.gr/public/dist/2d687f3bc931e6c8a408.webp)}@media only screen{.supports-webp .promo__garden-furniture-v2{background-image:url(https://bp.pstatic.gr/public/dist/948e18b7ff2ba81d4cb8.webp)}}@media only screen and (min-width:48em){.promo__garden-furniture-v2{background-image:url(https://bp.pstatic.gr/public/dist/212856a0b1a5e9767a8f.png)}.supports-webp .promo__garden-furniture-v2{background-image:url(https://bp.pstatic.gr/public/dist/948e18b7ff2ba81d4cb8.webp)}}.promo__garden-furniture-v2__content{display:grid;grid-template-columns:1fr;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;gap:1rem}@media only screen and (min-width:25.8em){.promo__garden-furniture-v2__content{gap:1.5rem}}@media only screen and (min-width:48em){.promo__garden-furniture-v2__content{gap:1.2rem}}@media only screen and (min-width:64em){.promo__garden-furniture-v2__content{gap:1.8rem}}.promo__garden-furniture-v2__title{color:#fff;font-size:1.75rem;letter-spacing:7.7px;text-transform:uppercase;font-weight:900;text-align:center;text-shadow:0 0 24px rgba(0,0,0,.5);margin:0}@media only screen and (min-width:25.8em){.promo__garden-furniture-v2__title{font-size:1.8rem}}@media only screen and (min-width:64em){.promo__garden-furniture-v2__title{font-size:3rem}}.promo__garden-furniture-v2__subtitle{color:#fff;font-size:.9rem;font-weight:900;text-align:center;margin:10px 0 0;letter-spacing:3.85px}@media only screen and (min-width:25.8em){.promo__garden-furniture-v2__subtitle{font-size:1rem;letter-spacing:5.55px}}@media only screen and (min-width:48em){.promo__garden-furniture-v2__subtitle{letter-spacing:3.85px}}@media only screen and (min-width:64em){.promo__garden-furniture-v2__subtitle{font-size:1.25rem;letter-spacing:5.55px}}.promo__garden-furniture-v2__items{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;gap:1rem;text-align:center;text-wrap:nowrap;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.promo__garden-furniture-v2__items>a{-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:calc(50% - 1.5rem);-ms-flex-preferred-size:calc(50% - 1.5rem);flex-basis:calc(50% - 1.5rem)}@media only screen and (min-width:25.8em){.promo__garden-furniture-v2__items>a{-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:calc(33.333% - 1rem);-ms-flex-preferred-size:calc(33.333% - 1rem);flex-basis:calc(33.333% - 1rem)}}@media only screen and (min-width:35.5em){.promo__garden-furniture-v2__items>a{-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:calc(33.333% - 3rem);-ms-flex-preferred-size:calc(33.333% - 3rem);flex-basis:calc(33.333% - 3rem)}}@media only screen and (min-width:48em){.promo__garden-furniture-v2__items>a{-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:calc(50% - 3rem);-ms-flex-preferred-size:calc(50% - 3rem);flex-basis:calc(50% - 3rem)}}@media only screen and (min-width:64em){.promo__garden-furniture-v2__items>a{-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-flex-basis:calc(33.333% - 2rem);-ms-flex-preferred-size:calc(33.333% - 2rem);flex-basis:calc(33.333% - 2rem)}}.promo__garden-furniture-v2__cta{padding:.4rem .825rem;border-radius:24px;background:rgba(251,251,251,.8);color:#000!important;text-decoration:none!important;font-size:1rem;font-weight:500;text-align:center;transition:background .2s ease-in-out}.promo__garden-furniture-v2__cta:hover{background:#fcfcfc}@media only screen and (min-width:25.8em){.promo__garden-furniture-v2__cta{padding:.7rem 1rem}}

#gift-finder-filter-popup .popup-body {padding: 0!important}
#gift-finder-filter-popup .toolbar__sorting h3 {padding-bottom: 2rem!important}
#gift-finder-filter-popup .toolbar__sorting-options {margin-top: 0!important}
.gift-finder {
  background-image: url(https://bp.pstatic.gr/public/dist/5f5a37ca0afcbd1d6c93.svg);
  background-position: top;
  background-repeat: no-repeat
}
.gift-finder-filter-btn {margin-left: 0}
.gift-finder__content {position: relative}
.gift-finder__spinner {
  animation: spinner .75s cubic-bezier(.04,.6,.5,1.24);
  animation-delay: .2s;
  animation-fill-mode: forwards;
  display: grid;
  inset: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  z-index: 1
}
.gift-finder__spinner .spinner {
  position: relative;
  z-index: 2
}
.gift-finder__spinner:before {
  background: var(--colors-themed-body-bg);
  content: "";
  inset: 0;
  opacity: .9;
  position: absolute;
  z-index: 2
}
.iyzBDo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.cquxZx {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%
}
.irbLXu {margin-bottom: 1rem}
@media only screen and (min-width: 64em) {
  .irbLXu {margin-bottom: 1.5rem}
}
@media only screen and (min-width: 80em) {
  .irbLXu {margin-bottom: 2rem}
}
.jBXYhC {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--colors-themed-body-color);
  text-align: center;
  margin: 0px 0px 0.6rem
}
@media only screen and (min-width: 25.8em) {
  .jBXYhC {font-size: 2rem}
}
@media only screen and (min-width: 48em) {
  .jBXYhC {font-size: 2.1rem}
}
@media only screen and (min-width: 64em) {
  .jBXYhC {font-size: 2.2rem}
}
@media only screen and (min-width: 80em) {
  .jBXYhC {font-size: 2.5rem}
}
.cuyAJX {
  color: var(--colors-themed-body-color-lighter);
  margin: 0px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.15;
  max-width: 300px;
  -webkit-font-smoothing: antialiased
}
@media only screen and (min-width: 35.5em) {
  .cuyAJX {
    line-height: 1.2;
    max-width: 340px
  }
}
@media only screen and (min-width: 64em) {
  .cuyAJX {
    line-height: 1.25;
    font-size: 1.3rem;
    max-width: 375px
  }
}
@media only screen and (min-width: 80em) {
  .cuyAJX {
    line-height: 1.3;
    font-size: 1.4rem
  }
}
.ebbwJS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  max-width: 350px
}
@media only screen and (min-width: 25.8em) {
  .ebbwJS {max-width: 100%}
}
@media only screen and (min-width: 35.5em) {
  .ebbwJS {max-width: 100%}
}
@media only screen and (min-width: 64em) {
  .ebbwJS {max-width: 100%}
}
.fknxFk {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px
}
@media only screen and (min-width: 23em) {
  .fknxFk {gap: 30px}
}
@media only screen and (min-width: 25.8em) {
  .fknxFk {gap: 15px}
}
@media only screen and (min-width: 25.8em) {
  .fknxFk {gap: 35px}
}
@media only screen and (min-width: 48em) {
  .fknxFk {gap: 40px}
}
@media only screen and (min-width: 80em) {
  .fknxFk {gap: 42px}
}
.kHmeXZ {
  color: var(--colors-themed-body-color);
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none !important;
  user-select: none !important
}
@media only screen and (min-width: 48em) {
  .kHmeXZ {
    font-weight: 500;
    font-size: 1.05rem
  }
}
@media only screen and (min-width: 80em) {
  .kHmeXZ {font-size: 1.1rem}
}
.geFCaT {
  font-weight: normal;
  margin: 1rem 0px 0px;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  text-align: center;
  width: auto;
  user-select: none;
  color: var(--colors-themed-body-color-lighter)
}
@media only screen and (min-width: 48em) {
  .geFCaT {
    margin: 3rem 0px 0px;
    font-size: 1.2rem
  }
}
@media only screen and (min-width: 80em) {
  .geFCaT {font-size: 1.25rem}
}
.MylkP {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  align-items: end;
  overflow-x: auto;
  gap: 0.5rem;
  scrollbar-width: none
}
@media only screen and (min-width: 48em) {
  .MylkP {gap: 1rem}
}
.MylkP select {
  padding: 0.7rem 0.8rem;
  border-radius: 0.5rem
}
.bqWucv {
  display: flex;
  gap: 0.5rem;
}
@media only screen and (min-width: 48em) {
  .bqWucv {gap: 1rem}
}
.MylkP label {
  font-size: 1.08rem;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.MylkP input[type="checkbox"] {
  border-radius: 7px;
  width: 2rem;
  height: 2rem
}
.bhTOi9I4I2nIIKPU_JUz {margin-left: .75rem}
.UNbCZ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem
}
.bjpNBM {margin-bottom: 2rem}
.lmQiLZ {
  color: rgb(65, 120, 216);
  cursor: pointer;
  padding: 0.5rem 1.4rem;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  background-color: rgb(221, 226, 230);
  border-radius: 1.4rem;
  user-select: none;
  margin: 0px;
  font-size: 1rem
}
.jfGtLT {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 10px
}
.gmqSWM {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 1200px
}
.dsWkau {
  font-weight: normal;
  margin: 1rem 0px 0px;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
  user-select: none;
  color: var(--colors-themed-body-color-lighter)
}
@media only screen and (min-width: 48em) {
  .dsWkau {
    margin: 3rem 0px 0px;
    font-size: 1.2rem
  }
}
@media only screen and (min-width: 80em) {
  .dsWkau {font-size: 1.25rem}
}
.iJzdCa {
  display: flex;
  gap: 1rem;
  align-items: center
}
.eZWmzM {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--colors-themed-body-color);
  text-align: left;
  margin: 0px 0px 0.6rem
}
@media only screen and (min-width: 25.8em) {
  .eZWmzM {font-size: 1.6rem}
}
@media only screen and (min-width: 48em) {
  .eZWmzM {font-size: 1.9rem}
}
@media only screen and (min-width: 64em) {
  .eZWmzM {font-size: 2rem}
}
@media only screen and (min-width: 80em) {
  .eZWmzM {font-size: 2.1rem}
}



@keyframes spinner {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
.password-hints {
    animation: password-hints-enter .25s ease-in-out;
    animation-fill-mode: forwards;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 40px 0 hsla(0,0%,4%,.08);
    left: 0;
    opacity: 0;
    padding: 1.5rem;
    transform: translateY(15px);
    width: 100%;
    z-index: 100000000000000000
}
.login__field .password-hints {
    bottom: calc(100% + 1.2rem);
    position: absolute
}
.password-hints__issue {
    align-items: center;
    color: #b81427;
    display: flex;
    font-size: .85rem;
    margin: .85rem 0
}
.password-hints__issue .icon {
    flex: none;
    height: 12px;
    margin-right: .5rem;
    transition: all .2s ease-in-out;
    width: 12px
}
.password-hints__issue--ok {color:#24b47e}
.password-hints__issue:first-child {margin-top:0}
.password-hints__issue:last-child {margin-bottom:0}
.password-hints__issue--score {
    border-top: 1px solid var(--colors-themed-separator-light);
    margin-top: .85rem;
    padding-top: .85rem
}
.password-hints__score-wrapper {
    border-radius: 6px;
    flex: 1 1;
    height: 6px;
    margin-left: 1rem;
    overflow: hidden;
    position: relative
}
.password-hints__score {
    background: #24b47e;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .2s ease-in-out
}
.password-hints__score--1 {background:#b81427}
.password-hints__score--2 {background:#db581d}
.password-hints__score--3 {background:#ff9c13}
.password-hints__score--4 {background:#24b47e}
.password-hints__issue--score-1 {color:#b81427}
.password-hints__issue--score-2 {color:#db581d}
.password-hints__issue--score-3 {color:#ff9c13}
.password-hints__issue--score-4 {color:#24b47e}
@keyframes password-hints-enter {
    to {
        opacity: 1;
        transform: none
    }
}
.tick-svg {
    flex: none;
    -webkit-user-select: none;
    user-select: none
}
.tick-svg path {
    stroke: var(--colors-themed-separator);
    stroke-width: 1.5;
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 1s
}
.tick-svg .tick-svg__tick {
    stroke: #24b47e;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s ease-out .5s
}
.tick-svg.tick-svg--drawn .tick-svg__path {
    opacity: 1;
    stroke-dashoffset: 0
}
.login__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem
}
.login__actions .button {
    flex: 1 1;
    font-weight: 700
}
.login__actions span.foo-link {
    color: #767676;
    font-size: .9rem;
    margin-left: 3rem
}
.login__error {
    background: #fbe9e7;
    border-radius: 2px;
    color: var(--colors-themed-body-color-light);
    line-height: 1.3;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center
}
[data-theme=dark] .login__error {background: 0 0}
.login__error-forget {margin-top: .5rem}
.login__field {
    flex: 1 1;
    margin: 1.5rem 0;
    position: relative;
    text-align: left
}
.login__field input {
    display: block;
    width: 100%
}
.login__input-wrapper {
    display: block;
    position: relative
}
.login__dual-fields {
    display: flex;
    flex: 1 1;
    justify-content: space-between
}
.login__dual-fields .login__field {
    margin-top: 0;
    width: calc(50% - .25rem)
}
.login__input-wrapper .tooltip__anchor {
    margin-top: -10px;
    position: absolute;
    right: .7rem;
    top: 50%
}
.login__input-wrapper .icon {
    cursor: pointer;
    opacity: .55;
    transition: opacity .3s ease-in-out
}
html.no-touch .login__input-wrapper .icon:hover {opacity: 1}
.login__field--has-toggler input {padding-right: 2rem}
.login__field-error,.login__field-suggestion {
    color: #b81427;
    font-size: .925rem;
    margin-top: .35rem
}
.login__field-suggestion {color: var(--colors-themed-body-color-light)}
.login__field-suggestion em {
    cursor: pointer;
    font-weight: 700
}
.login__field--checkbox .login__input-wrapper {display: inline-flex}
.login__field--checkbox input[type=checkbox] {
    border-radius: 2px;
    flex: none;
    height: 22px;
    overflow: hidden;
    width: 22px
}
.login__field--checkbox .login__field-label {
    color: var(--colors-themed-body-color-light);
    font-size: .95rem;
    line-height: 1.5;
    margin-left: .5rem;
    -webkit-user-select: none;
    user-select: none
}
.login__field--checkbox .login__field-label a {color: inherit}
.login__form hr {
    background: var(--colors-themed-separator-light);
    border: 0;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
    width: 100%
}
.login__field-placeholder {
    color: #5f6368;
    left: calc(.5rem + 1px);
    padding: 0 8px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-user-select: none;
    user-select: none;
    z-index: 99999
}
.login__field--focused .login__field-placeholder,.login__field--has-value .login__field-placeholder {background: var(--colors-themed-body-bg)}
[data-theme=dark] .login__field--focused .login__field-placeholder,[data-theme=dark] .login__field--has-value .login__field-placeholder {color: #a1a1a1}
.login__field--focused .login__field-placeholder {color: #2d69c6}
.login__field--has-error .login__field-placeholder {color: #b81427}
.login__field--placeholder-transition .login__field-placeholder {transition: transform .15s ease-in-out}
.login__field input:-webkit-autofill {
    animation-name: onAutoFillStart;
    -webkit-transition: background-color 50000s ease-in-out 0s;
    transition: background-color 50000s ease-in-out 0s
}
.login__field input:not(:-webkit-autofill) {animation-name: onAutoFillCancel}
@keyframes onAutoFillStart {
    0% {
        opacity: 1
    }
    to {
        opacity: 1
    }
}
@keyframes onAutoFillCancel {
    0% {
        opacity: 1
    }
    to {
        opacity: 1
    }
}
.login__footer {
    border-top: 1px solid var(--colors-themed-separator-light);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center
}
.login__footer .foo-link {color: var(--colors-themed-anchor)!important}
[data-theme=dark] .login__footer {border-top: 1px solid #26282c}
.login__forgot {
    margin-top: 1rem;
    text-align: center
}
.full .login__wrapper {margin: 0}
.login__loading {
    background: hsla(0,0%,100%,.3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}
.login__loading:before {
    animation: login_loading 2s linear infinite;
    background-color: #ec1639;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: right center;
    z-index: 88888
}
@media only screen and (min-width: 48em) {
    .popup .login__loading {position:fixed}
}
@keyframes login_loading {
    0% {
        opacity: 1;
        transform: scaleX(1) translateX(-100%)
    }
    50% {
        transform: scaleX(1) translateX(0)
    }
    75% {
        animation-timing-function: cubic-bezier(.28,.62,.37,.91);
        transform: scaleX(1) translateX(0)
    }
    to {
        opacity: 1;
        transform: scaleX(0) translateX(0)
    }
}

#login-popup,#login-popup .popup-body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
#login-popup .popup-body {
    background: var(--colors-themed-body-bg);
    border-radius: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
    padding: 0;
    position: relative;
    width: 100%
}
#login-popup .popup-body .login__wrapper {
    margin: 0;
    width: 100%
}
#login-popup .popup-body .login {
    border: 0;
    position: static
}
@media only screen and (max-width: 47.99em) {
    #login-popup.is-modal .popup-body {
        padding:1.5rem;
        width: 100vw
    }
}
@media only screen and (min-width: 48em) {
    #login-popup .popup-body {
        border-radius:5px;
        min-height: auto;
        width: auto
    }
    #login-popup .login {width: 100vw}
}
.login__prompt {
    text-align: center;
    width: 560px
}
.login__prompt-actions {margin-top: 1rem}
.login__prompt-icon .icon {
    color: #ec1639;
    height: 50px;
    width: auto
}
.login__prompt-message {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 2rem 0
}
.login__prompt-actions button {
    font-size: 1.05rem;
    font-weight: 700;
    padding: 1.2rem 2.5rem
}
.login__prompt .login__footer .foo-link {color: #2d69c6}
.login__prompt .login__footer {font-size: 1.1rem}
.login__prompt .login__footer .foo_link {text-decoration: underline}
.login__prompt-inline {
    border-radius: 0;
    font-size: 1.2rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: center
}
@media only screen and (min-width: 48em) {
    .login__prompt-inline {
        font-size:1.05rem;
        padding: 1rem 1.5rem
    }
}
@supports (animation-fill-mode: forwards) {
    .login__prompt-inline {
        animation-delay:.25s;
        animation-duration: .75s;
        animation-fill-mode: forwards;
        animation-name: defaultAnimation;
        opacity: 0;
        transform: translateY(-15px)
    }
}
.login__providers {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-bottom: 1.5rem
}
.login__provider {
    width: 100%;
    appeareance: none;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    color: #111;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .85rem;
    outline: 0;
    padding: 0;
    text-align: center;
    transition: background .15s ease-in-out;
    transition-property: background,border-color;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap
}
.login__provider:last-child {margin-bottom: 0}
[data-theme=dark] .login__provider {
    background: #26282c;
    border: 1px solid #000;
    color: #fff
}
[data-theme=dark] .login__provider:hover {border-color: #000!important}
.login__provider>div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: .9rem .75rem;
    text-align: center;
    vertical-align: middle
}
.login__provider .icon {
    flex: none;
    margin-left: .5rem;
    margin-right: auto
}
.login__provider span {
    flex: 1 1;
    text-align: center
}
.login__provider--apple {
    background: #444;
    border: 0;
    color: #fff
}
.login__provider--fb {
    background: #3a589b;
    border: 0;
    color: #fff
}
html.no-touch .login__provider--apple:hover,html.no-touch .login__provider--fb:hover {
    border-color: #767676;
    color: #fff
}
[data-theme=default] .login__provider--google:hover {
    border-color: #767676;
    color: #2d69c6
}
@media only screen and (min-width: 35.5em) {
    .login__providers {
        align-items:center;
        justify-content: space-between;
        min-height: 12rem
    }
    .login__provider {
        font-size: 1.05rem;
        font-weight: 500;
        margin: 0
    }
}
@media only screen and (min-width: 48em) {
    .login__provider {font-size:1.05rem}
    .login__provider>div {padding: .9rem 1rem}
    .login__provider .icon {margin-right: .75rem}
}
.login__view--signin .login__field input {padding: 1.2rem}
.login__sub-title {
    color: var(--colors-themed-body-color-light);
    display: inline-grid;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    margin: 1rem 0;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}
.login__sub-title--not-open {cursor: pointer}
@media only screen and (min-width: 64em) {
    .login__sub-title {margin:1.5rem 0}
}
@media only screen and (min-width: 80em) {
    .login__sub-title {margin:2rem 0}
}
@media only screen and (min-width: 120em) {
    .login__sub-title {margin:2.5rem 0}
}
.login__success {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center
}
.login__success-content {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 1.5rem 0
}
.login__success-icon {
    height: 100px;
    width: 100px
}
.login__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 1.5rem;
    text-align: center
}
.login__welcome {
    align-items: center;
    display: flex;
    display: none;
    flex: 1 1;
    justify-content: center;
    min-height: 400px;
    min-width: 240px;
    padding: 1rem;
    text-align: center
}
.login__welcome--default {
    background: #cd7e9c url(https://bp.pstatic.gr/public/dist/9e786841184b02a30f76.png) no-repeat 50%;
    background-size: cover;
    color: #fff;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 230px
}
.login__welcome--default .icon {
    margin-bottom: 0;
    max-width: 100px
}
@media only screen and (min-width: 48em) {
    .login__welcome {display:flex}
}
@media only screen and (min-width: 80em) {
    .login__welcome {min-width:240px}
}
@media only screen and (min-width: 120em) {
    .login__welcome {min-width:280px}
}
.login {
    display: flex;
    flex: none;
    justify-content: center;
    max-width: 400px;
    padding: 1.05rem;
    position: relative;
    width: 100%
}
@media only screen and (min-width: 25.8em) {
    .login {padding:1.92rem}
}
@media only screen and (min-width: 48em) {
    .login {
        padding:1.92rem;
        width: 400px
    }
}
@media only screen and (min-width: 80em) {
    .login {
        max-width:440px;
        padding: 3.2rem
    }
}
@media only screen and (min-width: 120em) {
    .login {
        max-width:460px;
        padding: 3.8rem
    }
}
.login__wrapper {
    display: flex;
    justify-content: center;
    margin: auto
}
.login .foo-link {color: var(--colors-themed-body-color-light)}
.login__consent {margin-top: 1rem}
.login__view,.login__view-with-prompt {width: 100%}

.minfo__actions {
    background-color: var(--colors-themed-popup-bg);
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding: .5rem 0;
    position: sticky
}
.minfo__actions .button {
    display: block;
    line-height: 1;
    margin-bottom: .5rem;
    vertical-align: baseline;
    white-space: nowrap;
    width: 100%
}
.minfo__actions .button:last-child {margin-bottom: 0}
.minfo__actions .button>* {vertical-align: baseline}
@media only screen and (min-width: 35.5em) {
    .minfo__actions {flex-direction:row}
    .minfo__actions .button {margin: 0}
    .minfo__actions .minfo__product-link {margin-left: .5rem}
}
.minfo__actions-disabled {
    background: 0 0;
    cursor: default;
    opacity: .6;
    pointer-events: none
}
.minfo__actions-disabled:hover {
    background: $colors-themed-secondary-hover-bg;
    border: 1px solid $colors-themed-secondary-hover-border;
    color: $colors-themed-secondary-hover-color;
    text-decoration: none
}
.minfo__buttons {
    display: flex;
    flex-direction: column;
    min-width: 0
}
.minfo__buttons .tooltip__anchor {display: block}
.minfo__button {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background: var(--colors-themed-button-secondary-bg);
    border: 1px solid var(--colors-themed-separator-light);
    border-radius: .25rem;
    color: var(--colors-themed-button-secondary-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding: 1rem;
    -webkit-user-select: none;
    user-select: none
}
.minfo__button:last-child {margin: 0}
.minfo__button--disabled {
    background: 0 0;
    cursor: default;
    opacity: .6
}
.minfo__button .icon {color: var(--colors-themed-anchor)}
.minfo__buttons .large-type-trigger {
    display: block;
    margin-bottom: .5rem
}
html.no-touch .minfo__button:not(.minfo__button--disabled):hover {
    background: $colors-themed-secondary-hover-bg;
    border: 1px solid $colors-themed-secondary-hover-border;
    color: $colors-themed-secondary-hover-color;
    text-decoration: none
}
.minfo__button-label {
    flex: 1 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.minfo__button-icon {
    height: 18px;
    margin-right: .5rem;
    width: 18px
}
.minfo__button-info {
    align-items: center;
    color: #767676;
    display: flex;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none
}
.minfo__sign {
    align-items: center;
    color: #b81427;
    display: flex;
    gap: .5rem;
    padding: .6rem 0 0 1.35rem
}
.minfo__sign:before {
    background: currentColor;
    border-radius: 100%;
    content: "";
    flex: none;
    height: 10px;
    width: 10px
}
.minfo__sign--open {color: #24b47e}
.minfo__cra-wrapper {margin-top: .5rem}
.minfo__cra-container {
    margin: 0 auto;
    padding: 1rem
}
@media only screen and (min-width: 48em) {
    .minfo__cra-container {
        padding:0;
        width: 100%
    }
}
.minfo__header {padding: 1.05rem 1.05rem 0}
[data-theme=dark] .minfo__header {background-color: #26282c}
.minfo__title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1rem
}
.minfo__header-props {
    display: grid;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 1rem
}
.minfo__header-disabled {pointer-events: none}
.minfo__header-disabled .simple-rating__new {color: #757575!important}
.minfo__header .rating {font-size: 1.1rem}
.minfo__certification {cursor: pointer}
.minfo__certification .icon {margin-right: .3rem}
.minfo__back-to-info,.minfo__certification-wrapper {
    align-items: center;
    display: inline-flex
}
.minfo__back-to-info {
    color: #a1a1a1;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    gap: .5rem;
    text-align: center
}
.minfo__badge-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: space-between
}
.minfo__award {
    cursor: pointer;
    display: inline-flex;
    gap: .5em
}
.minfo__award img {width: 20px}
@media only screen and (min-width: 25.8em) {
    .minfo__title {
        font-size:1.45rem
    }
}
@media only screen and (min-width: 35.5em) {
    .minfo__title {
        font-size:1.5rem
    }
}
@media only screen and (min-width: 48em) {
    .minfo__header {
        margin-bottom:.75rem;
        padding: 0;
        text-align: left
    }
    .minfo__title {margin-bottom: 0}
    .minfo__header-props {margin: 1rem 0 .5rem}
    .minfo__certification-wrapper {
        color: var(--colors-themed-body-color-light);
        flex-direction: row-reverse;
        margin: 0
    }
    .minfo__certification-wrapper .icon {margin: 0 0 0 .5rem}
    .minfo__header .rating {font-size: 1.12rem}
    .minfo__title {font-size: 1.7rem}
    .minfo__badge-container {
        flex-direction: row;
        gap: 1.2rem
    }
    .minfo__award {flex-direction: row}
    .minfo__award a {color: var(--colors-themed-body-color-light)!important}
}
.minfo__large-type-info {
    align-items: center;
    border-radius: 2px;
    display: flex;
    max-width: 550px;
    padding: 1rem;
    text-shadow: none
}
.minfo__large-type-info img {
    background: #fff;
    border-radius: 4px;
    box-sizing: content-box;
    flex: none;
    height: 60px;
    margin-right: 1.25rem;
    padding: 1.2rem
}
.minfo__large-type-info-main h4 {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0
}
.minfo__large-type-info-main small {
    color: hsla(0,0%,100%,.7);
    display: block;
    font-size: 1.1em;
    font-size: inherit;
    font-weight: 400;
    margin-top: .5rem
}
@media only screen and (min-width: 48em) {
    .minfo__large-type-info-main h4 {font-size:1.1rem}
}

@media only screen and (min-width: 80em) {
    .minfo__large-type-info-main h4 {font-size:1.2rem}
}
.minfo__lists {
    display: flex;
    flex-direction: column;
    margin-top: 1rem
}
.minfo__list {margin-bottom: 1rem}
.minfo__list:last-child {margin-bottom: 0}
.minfo__list-header {
    color: var(--colors-themed-body-color-light);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: .5rem;
    white-space: nowrap
}
html.no-touch .minfo__list-header a {color: inherit}
html.no-touch .minfo__list-header a:hover {text-decoration: none!important}
.minfo__list li,.minfo__list ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.minfo__list li {
    align-items: center;
    color: #767676;
    display: flex;
    justify-content: space-between;
    padding: .5rem 0
}
.minfo__list li .icon {
    color: #767676;
    flex: none;
    opacity: .4
}
li.minfo__yes {color: var(--colors-themed-body-color)}
li.minfo__yes .icon {
    color: #24b47e;
    opacity: 1
}
@media only screen and (min-width: 48em) {
    .minfo__lists {
        flex-direction:row;
        justify-content: space-between
    }
    .minfo__list {width: calc(50% - 1rem)}
    .minfo__list li {padding: .6rem 0}
}
.minfo__view.minfo__view--pops {
    flex: none;
    padding: 0
}
@media only screen and (max-width: 47.99em) {
    .minfo__view.minfo__view--pops {flex:1 1}
}
.minfo__map {
    display: grid;
    flex: 1 1;
    height: 100%;
    width: 100%
}
@media only screen and (max-width: 47.99em) {
    .minfo__map {min-height:calc(100vh - 120px)}
}
.minfo__map #map-container {height: 100%}
.minfo__map-web-only {
    align-items: center;
    color: var(--colors-themed-body-color-light);
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    padding: 1.92rem;
    text-align: center
}
.minfo__map-web-only .icon {
    color: var(--colors-themed-body-color-light);
    height: 40px;
    margin-bottom: 2rem;
    width: 40px
}
.popup.is-modal .minfo {height: auto}
.minfo__popup .popup-body {width: auto!important}
@media only screen and (max-width: 47.99em) {
    .minfo__popup.is-full .popup-body {
        min-height:100vh;
        min-height: calc(100vh - var(--vh-offset,0px))
    }
    .minfo__popup .popup-body {padding: 0!important}
}
.minfo__sales {
    color: var(--colors-themed-body-color-light);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.minfo__sales strong {font-variant-numeric: tabular-nums}
.minfo__screen {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.07);
    color: #767676;
    display: flex;
    font-size: .9rem;
    height: 215px;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 100%
}
.minfo__screen--missing {
    background: #f3f3f3;
    box-shadow: none
}
.minfo__screen--missing:after {
    content: "Εκκρεμεί λήψη εικόνας";
    margin: auto
}
.minfo__tabs {
    border-bottom: 1px solid var(--colors-themed-separator-light);
    display: flex;
    flex: none;
    padding-top: 1rem
}
[data-theme=dark] .minfo__tabs {background-color: #26282c}
.minfo__tab {
    color: var(--colors-themed-body-color-light);
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .2px;
    padding: .25rem 0 1rem;
    position: relative;
    text-align: center;
    top: 1px;
    -webkit-user-select: none;
    user-select: none
}
.minfo__tab--selected {
    box-shadow: inset 0 -2px 0 #ec1639;
    color: #ec1639;
    cursor: default
}
.minfo__tab--disabled {color: #767676}
@media only screen and (min-width: 48em) {
    .minfo__tab {font-size:1.1rem}
}
.minfo {
    display: flex;
    height: 100vh;
    height: calc(100vh - var(--vh-offset,0px));
    max-width: 800px;
    min-width: 320px
}
.minfo__aside {display: none}
.minfo__main {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0
}
.minfo__view {
    flex: 1 1;
    padding: 1.05rem
}
[data-theme=dark] .minfo__view {background-color: #26282c}
@media only screen and (min-width: 35.5em) {
    .minfo {
        width:420px
    }
}
@media only screen and (min-width: 48em) {
    .minfo {
        height:auto;
        width: 620px
    }

    .minfo__aside {
        align-items: center;
        display: flex!important;
        flex: none;
        flex-direction: column;
        margin-right: 1.8rem;
        width: 200px
    }

    .minfo__view {padding: 1rem 0 0}
}
@media only screen and (min-width: 64em) {
    .minfo {width:670px}
    .minfo__aside {width: 220px}
}
@media only screen and (min-width: 80em) {
    .minfo {width:690px}
    .minfo__aside {
        margin-right: 2rem;
        width: 250px
    }
}
@media only screen and (max-width: 47.99em) {
    .popup-abs .minfo__view {height:auto!important}
}
